 h1 {
  color: #13445A;
  font-size: 2rem;
  /* font-color: #13445A; */
  font-style: italic;
  text-align: center;
}
  .menu-container{
    display: flex;
}

p {
  color: #446878;
  text-align: centre;
}

body {
  background-color:#FEF4E8;
  text-align: center;
}

/* DIVS */
.wholePage {
  background-color: #446878;
}

.main-body {
  background-color: navy;
}

.contact {
  background-color: maroon;
}

.displayPicture {
  width: 15%;
  height: 15%;
  border-radius: 15px;
}
