
* {
  margin: 0;
}

html {
  width: 100%;
}


/* NAVBAR THEMES */
.navbar {
  background-color: #17223B;
}

.navbar-brand,  .nav-link {
  color: #F7BE16;

}

.navbar-brand:hover,  .nav-link:hover {
  color: #00818A;

}
.mainContainer {
  height: 680px;
  background-color: #216583;
}

.heroDiv{
  height:224px;
  background-color: #00818a;
  display: flex;
  padding-left: 12%;
  padding-right: 10%;

}

.interestsImage{
  height: 224px;
}



/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 15px;
}



/* Clear floats after image containers */
.row:after {
  content: "";
  clear: both;
  display: table;
}

.titlePic {
  height:100%;
}

 h1 {
  color: #13445A;
  font-size: 2rem;
  /* font-color: #13445A; */
  font-style: italic;
  text-align: center;
}
  .menu-container{
    display: flex;
}

p {
  color: #446878;
  text-align: centre;
}

body {
  background-color:#F7BE16;
  text-align: center;
}

/* DIVS */
.wholePage {
  background-color: #446878;
}

.main-body {
  background-color: navy;
}

.contact {
  background-color: maroon;
}

.displayPicture {
  width: 15%;
  height: 15%;
  border-radius: 5%;
}

.displayPicture {
  width: 15%;
  height: 15%;
  border-radius: 5%;
}



/* Flexbox */

.projectsContainer {
  height: 500px;
}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: #293462;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
border-radius: 20%;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flexImage{
  width: 100px;
}

footer {
  bottom: 0;
}
